<h5
    style="text-align: center; font-family: 'Times New Roman', Times, serif; font-weight: bolder; font-size: xx-large; color: green; text-decoration: underline;">
    B-Scan Processing
</h5>
<hr>


<div class="vertical-center" style="text-align: center; ">
    <button (click)="onPress()" class="btn btn-success" style="text-align: center;">
        GET IMAGE
    </button>
</div>


<form action="/action_page.php">
    <label for="files" >Please Select necessary CSV files: </label>
    <input type="file" id="files" name="files" multiple ><br><br>
    <input type="submit" style="margin-left: 200px;">
</form>


<div>


    <canvas id="myCanvas" 
        style="border:3px solid #d3d3d3; background-color: rgb(65, 65, 61); top: 60%; left: 50%; position: absolute; width: 1000px; height: 700px; transform: translate(-50%, -50%);">
      </canvas>
    <script src="script.js"></script>

   
    <div id='container'>  <div id='container'>
        <div id='element' style="width:980px; height:650px; margin-left: 24.5%; margin-top: 0.2%;"></div>
    </div>
    <!-- <ej-heatmaplegend id="heatmaplegend" style="margin-left:150px" height="50px" width="75%">
        <e-legendcolormappings>
            <e-legendcolormapping [value]="0" color="#8ec8f8">
                </e-legendcolormapping>
            <e-legendcolormapping [value]="100" color="#0d47a1">
                </e-legendcolormapping>
        </e-legendcolormappings>
    </ej-heatmaplegend> -->
    </div>


</div>