<div style="text-align: center; display: flex; justify-content: center;">
<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <a routerLink="/delay-calibration">
            <button class="btn btn-outline-success" type="button">
                DELAY-CALIBRATION
            </button>
        </a>
        <a routerLink="/algorithm">
            <button class="btn btn-outline-success" type="button">
                ALGORITHM
            </button>
        </a>
        <a routerLink="/get-image">
            <button class="btn btn-outline-success" type="button">
                GET-IMAGE
            </button>
        </a>
        <a routerLink="/visualisation">
            <button class="btn btn-outline-success" type="button">
                VISUALISATION
            </button>
        </a>
        
        <a routerLink="/parameters">
            <button class="btn btn-outline-success" type="button">
                PARAMETER
            </button>
        </a>
    </form>
</nav>
</div>
<hr>
<router-outlet></router-outlet>